<div class="container">
  <div class="row">
    <div class="col col-lg-6">
      <div class="app-container">
        <div>
          <img *ngFor='let preview of previews' [src]="preview" class="preview">
        </div>
        <mat-form-field>
          <div>
            <mat-toolbar class="file-upload-button">
              <input matInput style="display: none;"/>
              <button type="button" class="btn btn-primary" (click)="uploadFiles()">
                <i class="bi bi-camera"></i>
                Scan</button>
        
            </mat-toolbar>
        
            <input
              type="file"
              id="fileInput"
              name="fileInput"
              accept="image/*"
              (change)="selectFiles($event)"
            />
          </div>
        </mat-form-field>
      </div>
    </div>
    <div class="col col-lg-6"  style="padding-top:20px">
      <ul class="list-group" *ngIf="responseData">
        <li class="list-group-item"><span class="info-title">Stock Ticker</span>:<span class="info-value">{{responseData?.optionChain?.result[0].underlyingSymbol}}</span></li>
        <li class="list-group-item" *ngFor="let info of listInfo"><span class="info-title">{{info.displayValue}}</span>:
          <span  class="info-value">{{responseData?.optionChain?.result[0].quote[info.selector]}}</span></li>
        </ul>
<div style="padding-top:20px" *ngIf="responseData">
  <button type="button" class="btn btn-primary">Buy</button>
</div>

    </div>
  </div>
</div>
